{
  "type": "minecraft:crafting_shaped",
  "pattern": [
    "X",
    "#"
  ],
  "key": {
    "#": {
      "item": "minecraft:{{ name }}"
    },
    "X": {
      "item": "{{ modid }}:white_concrete_slab"
    }
  },
  "result": {
    "item": "{{ modid }}:{{ name }}_lever"
  },
  "conditions": [
    {
      "type": "sweetconcrete:flag",
      "flag": "levers"
    }
  ]
}