{
  "type": "minecraft:crafting_shaped",
  "pattern": [
    "#  ",
    "## ",
    "###"
  ],
  "key": {
    "#": {
      "item": "{{ name }}"
    }
  },
  "result": {
    "item": "{{ modid }}:{{ name }}_stairs",
    "count": 4
  },
  "conditions": [
    {
      "type": "sweetconcrete:flag",
      "flag": "stairs"
    }
  ]
} 
