{
  "type": "minecraft:crafting_shaped",
  "pattern": [
    "###"
  ],
  "key": {
    "#": {
      "item": "{{ name }}"
    }
  },
  "result": {
    "item": "{{ modid }}:{{ name }}_slab",
    "count": 6
  }
} 