{
  "type": "minecraft:crafting_shaped",
  "pattern": [
    "##"
  ],
  "key": {
    "#": {
      "item": "minecraft:{{ name }}"
    }
  },
  "result": {
    "item": "{{ modid }}:{{ name }}_pressure_plate"
  }
}